<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:core="http://activemq.apache.org/schema/core" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core-5.7.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<!-- localhost  118.190.172.70 -->
	 <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">  
	    <property name="connectionFactory">
	        <bean class="org.apache.activemq.ActiveMQConnectionFactory">  
	            <property name="brokerURL" value="tcp://localhost:61616?wireFormat.maxInactivityDuration=0" />  
	        </bean>  
	    </property>  
	    <property name="maxConnections" value="20"></property>  
	</bean> 
	
	<!-- 引导系统 河北服务器 -->
    <bean id="myGuideResultTopic" class="org.apache.activemq.command.ActiveMQTopic">  
        <constructor-arg index="0" value="TaskGuideResultQueue.result" />  
    </bean>
   <!--   <bean id="GuideTopicConsumer" class="monitor.activemq.NewsMessageListener" />-->  
    <bean id="GuideTopicListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">  
        <constructor-arg ref="guideNanChangListener" />  
        <property name="defaultListenerMethod" value="onMessage" />  
        <property name="messageConverter"><null/></property>  
    </bean>
    <bean id="guideListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">  
        <property name="connectionFactory" ref="connectionFactory" />  
        <property name="pubSubDomain" value="true"/> 
        <property name="destination" ref="myGuideResultTopic" />  
        <property name="messageListener" ref="GuideTopicListener" />  
    </bean>
	<!--  <bean id="guideTemplate" class="org.springframework.jms.core.JmsTemplate">
		<constructor-arg name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="TaskQueueGuide" />
	</bean>-->
	
	<!-- 引导系统 发送到南昌服务器 -->
	<bean id="guideNanChangListener" class="monitor.activemq.NewsMessageListener" />
	<bean id="guideNanChangTemplate" class="org.springframework.jms.core.JmsTemplate">
		<constructor-arg name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestinationName" value="GuideNanChangQueue" />
	</bean>

</beans>










