<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.self.dao.QQLikeMapper">
	<select id="getUser" resultType="com.self.pojo.User">
	select nick username,password from maintain_account limit 10
	</select>
</mapper>
